---
layout: default
title: home
---
<div class="about">
Blurb about self here
    {{ site.description}}
</div>

<hr />
<div class="posts">
  <h2>Recent Posts</h2>
  {% for post in site.posts limit:2 %}
  <div class="post">
    <h3 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h3>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}

    <span class=""><a href="{{ post.url}}">... Read More</a></span>
  </div>
  {% endfor %}

  <p class="right">More content in the <a href="{{ site.archive }}">full blog archive</a></p>
</div>

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->