{% if site.footer_fixed %}
<footer class="fixed-bottom">
  <div class="container mt-0">
    &copy; Copyright {{ site.time | date: '%Y' }} {{ site.title }}.
    {{ site.footer_text }}
    {% if site.last_updated %}
    Last updated: {{ "now" | date: '%B %d, %Y' }}.
    {% endif %}
  </div>
</footer>
{% else %}
<footer class="sticky-bottom mt-5">
  <div class="container">
    &copy; Copyright {{ site.time | date: '%Y' }} {{ site.title }}.
    {{ site.footer_text }}
    {% if site.last_updated %}
    Last updated: {{ "now" | date: '%B %d, %Y' }}.
    {% endif %}
  </div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QBNV2M2RLZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QBNV2M2RLZ');
</script>

</footer>
{% endif %}
